doctype html
html(lang='en')
  head
  body
    canvas#line(width='400', height='400')
    script.
      var data = {
      labels: ["January", "February", "March", "April", "May", "June", "July"],
      datasets: [
      {
      label: "My First dataset",
      fillColor: "rgba(220,220,220,0.2)",
      strokeColor: "rgba(220,220,220,1)",
      pointColor: "rgba(220,220,220,1)",
      pointStrokeColor: "#fff",
      pointHighlightFill: "#fff",
      pointHighlightStroke: "rgba(220,220,220,1)",
      data: [10, 12]
      }
      ]
      };
      var myLine = new Chart(document.getElementById("line").getContext("2d")).Line(lineChartData);
