doctype html
html(lang='en')
  head
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js')
  body
    h1(style='background-color:#d8d8d8;padding:10px;text-align:center;font-family:Arial')  Ma courbe de poids 
    canvas#line(width='650', height='650', style='margin-left:30%;text-align:70px')
    script.
      var lineChartData = {
      labels: [#{dates}],
      datasets: [
      {
      label: "My First dataset",
      fillColor: "rgba(220,220,220,0.2)",
      strokeColor: "rgba(220,220,220,1)",
      pointColor: "rgba(220,220,220,1)",
      pointStrokeColor: "#fff",
      pointHighlightFill: "#fff",
      pointHighlightStroke: "rgba(220,220,220,1)",
      data: [#{weights}]
      }
      ]
      };
      var myLine = new Chart(document.getElementById("line").getContext("2d")).Line(lineChartData);
